@media (max-width: 575px) {
.details {
        width: 100%;
        height: 60vw;
        object-fit: cover;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
.details {
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }
}

/* https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width/53252725 */
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
.details {
        width: 100%;
        height: 60vw;
        object-fit: cover;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
.details {
        width: 100%;
        height: 55vw;
        object-fit: cover;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.details {
        width: 100%;
        height: 47vw;
        object-fit: cover;
    }
}

.inner {
    overflow: hidden;
    transition: max-height 0.2s ease;
}

@media (max-width: 575px) {
    .img {
        width: 100%;
        height: 60vw;
        object-fit: cover;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .img {
        width: 100%;
        height: 45vw;
        object-fit: cover;
    }
}

/* https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width/53252725 */
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .img {
        width: 100%;
        height: 35vw;
        object-fit: cover;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .img {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .img {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }
}